.navContainer {
  font-family: var(--font-family);
  color: var(--text-color);

  padding: 2%;

  background: var(--background-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .navTitleContainer {
    .navTitle {
      font-weight: bold;
      color: var(--text-color);
    }
    p {
      @media only screen and (max-width: 830px) {
        display: none;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;

    li {
      display: flex;
      align-items: center;

      svg {
        margin-left: 1.5rem;

        @media only screen and (max-width: 830px) {
          margin-left: 0;
        }
      }
    }

    a {
      color: var(--text-color);
      @media only screen and (max-width: 830px) {
        display: none;
      }
    }

    @media only screen and (max-width: 830px) {
      padding-left: 0;
    }
  }

  a {
    text-decoration: none;
  }

  //nav container resize behavior
  @media only screen and (max-width: 830px) {
    flex-direction: column;
    align-items: center;
  }
}
