button {
  border: none;
  background-color: rgb(238, 233, 233);
  border-radius: 50%;
}

.buttonSvg {
  border: none;
}

.input-group-append {
  :hover {
    background-color: rgb(231, 231, 231);
  }
}
