.expenseCard {
  .itemPrice {
    font-weight: bolder;
  }

  .expenseCardInfo {
    display: flex;

    width: 100vw;
    // justify-content: space-around;
  }
}

.noBottomBorder {
  border-bottom: none;
}

.overflow {
  overflow-x: scroll;
}

.noData {
  text-align: center;
}
