.receiptCard {
  width: 100%;

  display: flex;
  justify-content: flex-start;

  flex-direction: column;

  & {
    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }
  }

  .searchBar {
    display: flex;

    flex-direction: column;
  }
}

.inputErrorMessage {
  color: red;
}

.receiptCardElement {
  // width: 50%;
  & {
    @media only screen and (max-width: 900px) {
      width: auto;
    }
  }
}
