.dateButton {
  border: none;
  background-color: white;

  font-size: 1.5rem;

  width: 100%;
  text-align: start;

  &:hover {
    text-decoration: underline 0.1rem rgb(85, 21, 21);
  }
  &:focus {
    text-decoration: underline 0.1rem rgb(85, 21, 21);
  }
}

.receiptCard {
  width: 100%;

  display: flex;
  justify-content: flex-start;

  & {
    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
}

.inputErrorMessage {
  color: red;
}

.receiptCardElement {
  width: 50%;
  & {
    @media only screen and (max-width: 900px) {
      width: auto;
    }
  }
}
