.dateButton {
  border: none;
  background-color: white;

  // text-decoration: underline 0.1rem rgb(219, 213, 213);

  font-size: 1.5rem;

  width: 100%;
  text-align: start;

  &:hover {
    text-decoration: underline 0.1rem rgb(85, 21, 21);
  }
}

.receiptCard {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
}

.inputErrorMessage {
  color: red;
}
